= wrap_layout :application do
  %header.cover
    %h1.cover-title= current_page.data.title
    - unless data.book.title.subtitle.nil?
      %h2.cover-subtitle= data.book.title.subtitle
    - if current_page.data.author
      %h3.page-author= current_page.data.author
  %article.page
    %main.page-content
      = yield
